<h2>Add Review!</h2>
<form method="POST" action="">
	<div>
		<label for="animeName">Anime Name:</label>
	</div>
	<div>
		<input type="text" id="animeName" name="animeName">
	</div>
	<div>
		<label for="title">Title:</label>
	</div>
	<div>
		<input type="text" id="title" name="title">
	</div>
	<div>
		<label for="review">Review:</label>
	</div>
	<div>
		<textarea name="review" id="review"></textarea>
	</div>
	<div>
		<label for="rating">Your Rate:</label>
	</div>
	<div>
		<input type="number" name="rating" id="rating"></input>
	</div>
	<input type="submit" value="Post Review">
</form>
