<!DOCTYPE html>
<html>
		<head>
      <div>
        <h2>I heard something!!</h2>
      </div>
		</head>
		<body>
      <form method="POST" action = "">
      <div>
        <label>what:</label>
        <input type = "text" name = "what" >
      </div>
      </div>
      <label>where:</label>
      <input type = "text" name = "where" >
      </div>
      <div>
        <label>date:</label>
        <input type = "text" name = "date" >
      </div>
      <div>
        <label>hour:</label>
        <input type = "text" name = "hour" >
      </div>
      <div>
        <label>description:</label>
        <input type = "text" name = "desc" >
      </div>
      <div>
			  <input type = "submit" value = "add">
      </div>
			</form>

      Your session's total page visits: {{count}}
		</body>
</html>
