<!DOCTYPE html>
<html>
		<head>
			<link rel="stylesheet" href="/css/base.css">
      <title>ascii sketchbook</title>
      <h1><img src='/img/logo.png' alt = "logo" width=80px height="27px">ascii sketchbook</h1>

		</head>
		<body>
			{{{body}}}
      <a href="/" target="_self">home</a>
      <a href="/add" target="_self">add</a>

		</body>
</html>
