p {
  background-color: white;
  width: 11em;
}

p.pin{
  background-color: lightgrey;
}

#warning{
  position:fixed;
  top:0px;
  right:0px;
  z-index: 999;
  background-color: red;
  height:30px;
  width:400px;
}
